#spacer{
  height: 10px;
}
#header>nav{
  background: #B3BECC;
  margin:0 0 1.5em;
}
#header>nav .inner{
  max-width:1050px;
  margin:0 auto;
  background:#8BA7CC;
}
nav .inner{
  padding:0 2em;
  margin:0 0.75em 0;
  background:#8BA7CC;
  font-family:Arial,sans-serif;
  font-weight:500;
  *zoom:1;
}
#header>nav .inner:before, #header>nav .inner:after{
  content:"";
  display:table;
}
#header>nav .inner:after{
  clear:both;
}
#header>nav h1{
  display:none;
}
#header>nav ul{
  margin:0 0 0 -0.625em;
  padding:0;
  position:relative;
  float:left;
}
#header>nav ul li{
  display:inline-block;
  vertical-align:top;
  margin-right:1px;
}
#header>nav ul li:first-child a{
  margin-left:0;
}
#header>nav ul li a{
  display:block;
  color:#fff;
  font-size:16px;
  padding:12px;
  text-decoration:none;
}
#header>nav ul li:hover, #header>nav ul li.active{
  background-color:#8BA7CC;
}
#header>nav ul li:hover a, #header>nav ul li.active a{
  color:#101820;
}

.search{
  float:right;
}
.search input[type="button"]{
  float:none;
}
.search form{
  position:relative;
  margin-top: .2em;
}
.search label{
  color:#000;
  font-size:0.875em;
  position:absolute;
  top:0.5em;
  right:50px;
  top:0.875em;
  right:50px;
  text-transform:uppercase;
}
.search label:hover{
  cursor:text;
}
.search input[type="text"]{
  background:#fff;
  border:1px solid #30537F;
  padding:0.625em 40px 0.625em 0.625em;
  margin:0.25em -40px 0.25em 0;
  width:25em;
  box-sizing:border-box;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
}
.search input[type="text"]:focus{
  background:#fff;
  box-sizing:border-box;
  outline:none;
  border:1px solid #30537F;
}
.search input[type="button"]{
  background:url(/static/img/search.png) no-repeat center;
  border:none;
  border-left:1px solid #30537F;
  color:transparent;
  font:0/0 a;
  float:none;
  margin:11px 0 0 0;
  margin:2.75px 0 0 0;
  height:28.75px;
  width:35px;
  vertical-align:top;
}
