<footer class="wrapper">
  <p><a href="http://excella.com/legal-notices.aspx">© 2014 Excella Consulting, Inc. All Rights Reserved. &nbsp;&nbsp;|&nbsp;&nbsp;  Legal Notices</a></p>
  <ul>
    <li>
      <a href="https://www.facebook.com/excellaconsulting" target="_new">
        <img src="/static/img/icn_fb.png" alt="Facebook">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/#!/ExcellaCo" target="_new">
        <img src="/static/img/icn_tw.png" alt="Twitter">
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/company/163739?trk=tyah" target="_new">
        <img src="/static/img/icn_li.png" alt="LinkedIn" target="_new">
      </a>
    </li>
  </ul>
</footer> 
