{% extends "healthy_salad_chooser/base.html" %}
 
{% block title %}Salad Selector{% endblock %}

{% block css_include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block js_include %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/toppings.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Place the ingredient list into a javascript object so we can 
  // use it later
  var ingredient_list = {};
  {% if ingredient_list %}
    {% for ingredient in ingredient_list %}
      ingredient_list["{{ ingredient.id }}"] = {"name": "{{ ingredient.name }}", "calories": "{{ ingredient.calories }}", "weight": "{{ ingredient.weight_in_oz}}"};
    {% endfor %}
    console.log(ingredient_list);
  {% endif %}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>
{% endblock %}

{% block content %} 
  <h1>Pick your toppings!</h1>

  <div class="toppingSelector" >
    <div class="toppingsList" id="toppingsChoices">
    {% if ingredient_list %}
       {% for ingredient in ingredient_list %}
         {% comment %}<div class="topping"><a href="/saladbar/{{ ingredient.id }}/">{{ ingredient.name }}</a></div> {% endcomment %}
         <div class="topping" id="{{ ingredient.id }}">{{ ingredient.name }}</div>
       {% endfor %}
    {% else %}
      <p>No Ingredients, please add some in the admin console!</p>
    {% endif %}
    </div>
 
    <div class="toppingsList" id="toppingsSelected"> </div>
  </div>

  <div class="ingredientInfo"> </div>

  <div id="charts">
    <div id="cost_chart" style="display: inline-block; margin-right: 20px"></div>
    <div id="calorie_chart" style="display: inline-block;"></div>
  </div>

  <h3>Total toppings selected: <span id="counter"></span></h3> 
{% endblock %}
